*.dat
*.o
*~
run
submit
submit.*
*.mod
.*.swp
*.optrpt
.DS_STORE
src.*
*.exe
*.lst
*.cub
*.ii
*.ll
*.i
*.cudafe*
*.bc
temp
tags
.ycm_extra_conf*
*.fatbin*
*.hash
*.s
*.cubin
*.module_id
*.lk 
*.i 
*.ii 
*.fatbin*
*.hash
*.module_id
*.cudafe*
*.cubin
tealeaf.*
*.cui
*.lk
a.out-openmp-nvptx64-nvidia-cuda
cloverleaf/clover
snap-cuda/snap.clang_cuda
snap-shared/snap
snap/snap
*.bov
*.dat

